{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
    {% if section.settings.logo != blank %}
    
    <img src="{{ section.settings.logo | img_url }}">

    {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}

    <div class="header-right">
        
        {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    
      <a href="/cart">cart</a>
  
    </div>
  </div>

 

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "menu label"
    }
  ]
}
{% endschema %}