{% if section.settings.enable == true%}
<div class="futuredproducttitle">
    <h1>{{ section.settings.title }}</h1>
</div>
<div class="futuredproduct">
    <div class="row">
        {% for product in collections[section.settings.collection].products %}
        <div class="column">

            <div class="product-card">
                <div class="product-tumb">
                    <a href="{{ product.url | within: collection }}">
                        <img src="{{ product.featured_image.src | img_url: 'large' }}"
                            alt="{{ product.featured_image.alt | escape }}">
                    </a>
                </div>
                <div class="product-details">
                    <h4><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h4>
                    <p>{% unless product.available %}<br><strong>sold out</strong>{% endunless %}</p>
                    <div class="product-bottom-details">
                        <div class="product-price">{{ product.price | money }}</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Product Recommendations",
    "tag": "section",
    "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Product Recommendations"
        },
        {
        "type":"collection",
        "id": "collection",
        "label": "Collection"
        }
    ],
    "presets": [
    {
      "name": "Product Recommendations"
    }
  ]
}
{% endschema %}